[[source]]
name = "Servicio para el sistema de basureros inteligentes"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
marshmallow = "*"
flask-pymongo = "*"
pymongo = "*"
bcrypt = "*"

[requires]
python_version = "3.6"
